body {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Righteous', monospace, Arial, Helvetica, sans-serif;
    background-color: #F7FFF7;
} 

header {
    background-color: #4c6c7e;
    background-image: url(./asset/wavesLight.svg);
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    margin: 0;
    padding: 0;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 50%;
    color: #246A73;
    text-shadow: 3px 3px 3px #D7CDCC;
    font-size: 16pt;
}

.menu a {
    text-decoration: none;
    color: #246A73;
}

.menu a:hover {
    color: #4ECDC4;
    border-color: #4ECDC4;
}

.menu p {
    padding: 2%;
    border-style: solid;
    border-width: 5px;
    border-color: #246A73;
    border-radius: 2em;
    box-shadow: 5px 5px 3px #D7CDCC;
}

#nom {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 5% 5% 0 5%;
    padding-top: 5%;
    font-size: 2em;
    color: #F7FFF7;
    font-family: 'Righteous', monospace;
    text-shadow: 5px 5px 3px #4ECDC4 ;
}

footer {
    background-color: #246A73;
}

footer h2 {
    color: #F7FFF7;
    margin: 1% 15% 0 5%;
}

#contactListe{
    display: flex;
    flex-direction: row;
    color: #F7FFF7;
    font-size: 14pt;
    justify-content: space-evenly;
}

#contactListe img {
    max-width: 100px;
}

#gitHub {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    text-align: center;
}

#email {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    text-align: center;
}


#mentionsLegales {
    color: #F7FFF7;
    text-align: end;
    margin-right: 1%;
}
