body {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: monospace, Arial, Helvetica, sans-serif;
    background-color: #e5f7f9;
}

header {
    background-color: #4c6c7e;
    background-image: url(./asset/banner1.jpg);
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    color: #e5f7f9;
    margin: 0;
    padding: 0;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 50%;
    color: #e5f7f9;
    text-shadow: 3px 3px 0 #4c6c7e;
    font-size: 16pt;
}

.menu a {
    text-decoration: none;
    color: #e5f7f9;
}

a:hover {
    color: #444c54;
}

.menu p {
    padding: 2%;
    border-style: solid;
    border-width: 5px;
    border-color: #e5f7f9;
    border-radius: 5%;
    box-shadow: 3px 3px 0 #4c6c7e;
}

#nom {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0 6%;
    padding-top: 5%;
    font-size: 2em;
    color: #e5f7f9;
    font-family: 'Righteous', monospace;
    text-shadow: 3px 3px 0 #4c6c7e ;
}

#info {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #e5f7f9;
    margin: 0;
}

#infoTexte {
    display: flex;
    flex-direction: column;
    margin: 5% 15% 5% 5%;
    text-align: justify;
    color: #444c54;
    font-size: 14pt;
}

#infoTexte p {
    text-indent: 10%;
}

#devPhoto {
    max-width: 500px;
    border-radius: 5%;
    box-shadow: 8px 8px 0px #4c6c7e;
}

#frontend {
    background-color: #4c6c7e;
    display: flex;
    flex-direction: column;
    margin: 0;
}

#frontTitre {
    margin: 0% 15% 0% 5%;
    color: #e5f7f9;
}

#frontSkills {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.front {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.frontLogo {
    max-width: 100px;
}

.front p {
    color: #e5f7f9;
    font-size: 14pt;
}

#backend {
    background-color: #e5f7f9;
    display: flex;
    flex-direction: column;
    margin: 0;
}

#backTitre {
    margin: 0% 15% 0% 5%;
    color: #444c54;
}


#backSkills {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.back {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.back img {
    max-width: 100px;
    margin: 0;
}

.back p {
    color: #444c54;
    font-size: 14pt;
}

#jsBox {
    display: flex;
    flex-direction: row;
}

#javascript {
    display: flex;
    flex-direction: row;
    background-color: #4c6c7e;
    padding-right: 5%;
    margin: 0;
}

#jsTitre {
    margin-left: 15%;
    color: #e5f7f9;
}

#jsListe {
    color: #e5f7f9;
    margin: 5% 0 8% 5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#jsListe li {
    margin-bottom: 10%;
    font-size: 14pt;
}

#jsLogo img {
    max-width: 200px;
    display: flex;
    align-items: center;
    margin: 15% 0;
}

.emptyBox {
    background-color: #e5f7f9;
    display: flex;
    margin: 0 50%;
 }

 #cmsBox {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-grow: 1 1;
}

 #cms {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: nowrap;
    background-color: #4c6c7e;
    padding-left: 10%;
 }

 #cmsTitre {
    margin: 0% 0% 0% 5%;
    color: #e5f7f9;
 }

 #cmsListe {
    color: #e5f7f9;
    margin: 5% 0 8% 5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#cmsListe li {
    margin-bottom: 10%;
    font-size: 14pt;
}

#cmsLogo img {
    max-width: 150px;
    margin: 0;
}

#projets {
    background-color: #e5f7f9;
}

#projets h2 {
    color: #444c54;
    margin: 0 15% 0 5%;
}

#projets a {
    text-decoration: none;
}

#projets p{
    color: #444c54;
    padding-left: 10px;
    font-size: 14pt;
}


#projet1 {
    margin: 5% 8%;
    display: flex;
    align-items: center;
}

.imageProjet {
    max-width: 150px;
}


footer {
    background-color: #4c6c7e;
}

footer h2 {
    color: #e5f7f9;
    margin: 0 15% 0 5%;
}

#contactListe{
    display: flex;
    flex-direction: row;
    color: #e5f7f9;
    font-size: 14pt;
    justify-content: space-evenly;
}

#contactListe img {
    max-width: 100px;
}

#gitHub {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

#email {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

#email a  {
    text-decoration: none;
    color: #e5f7f9;
}

#email a:hover {
    color: #444c54;
}


#mentionsLegales {
    color: #e5f7f9;
    text-align: end;
}