@media (min-width:320px) and (max-width:767px) {
    .menu {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        font-size: 0.7em;
        margin: 0;
    }

    .menu p {
        padding: 2%;
        border-width: 2px;
    }

    #nom {
        font-size: 1em;
    }

    #info {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        margin: 0;
    }

    #infoTexte {
        display: flex;
        flex-direction: column;
        text-align: justify;
        font-size: 0.7em;
        margin: 5% 10%;
    }

    #devPhoto {
        max-width: 100%;
        border-radius: 5%;
        margin-right: 5% 15%;
    }

    #jsCms {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-evenly;
        background-color: #246A73;
    }

    #frontTitre, #backTitre {
        font-size: 0.7em;
    }

    .frontLogo, .back img {
        width: 60%;
    }
    
    .front p, .back p {
        font-size: 0.7em;
    }

    #jsCms {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-stretch;
        padding-bottom: 5px;
        background-color: #F7FFF7;
    }
    

    #javascript {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 3% 3% 3%;
        padding: 0;
        border-bottom: 3% solid #e5f7f9;
        border-radius: 5em;
    }
        

    #jsComp {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-items: center;
        margin: 0 6%;
    }
    #jsTitre {
        font-size: 0.7em;
        margin: 0 3%;
        text-align: center;
   }

    #jsListe {
        margin: 0% 0% 8% 10%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    } 
        
    #jsListe li {
        font-size: 0.7em;
    }
        
    #jsLogo img {
        width: 100%;
        display: flex;
        align-items: center;
        margin: 0;
    }
         
        
    #cms {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 3% 3% 3%;
        padding: 0;
        border-radius: 5em;
        box-shadow:5px 5px 3px #D7CDCC;

    }

    #cmsComp {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-items: center;
        margin: 0 6%;
    }
        
    #cmsTitre {
        margin: 0 3%;
        font-size: 0.7em;
        text-align: center;
    }
        
    #cmsListe {
         margin: 0% 0% 8% 10%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
        
    #cmsListe li {
        margin-bottom: 10%;
        font-size: 0.7em;
    }
        
    #cmsLogo img {
        width: 150%;
        display: flex;
        align-items: center;
        margin: 0 0 0 12%;
    }

    #projets h2 {
        font-size: 1em;
    }

    #projets p {
        font-size: 0.7em;;
    }

    #projet1 {
        margin: 5% 8%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    footer {
        margin-top: 3%;
        padding-top: 3%;
    }
    footer h2 {
        font-size: 1em;
        margin-bottom: 3%;
    }
    #contactListe {
        display: flex;
        flex-direction: row;
        font-size: 0.7em;;
        justify-content: space-around;
        margin-left: 5%;
    }

    #contactListe img {
        width: 70%;
    }

    #mentionsLegales {
        font-size: 0.7em;
    }

    /* Début du style de la page Contact*/

    #contactTitre {
        font-size: 1em;
    }

    #coordonnees {
        font-size: 0.8em;
        margin-left: 7%;
    }

    input, textarea {
        font-size: 0.8em;
    }

    button {
        font-size: 1em;
    }
}



