body {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: monospace, Arial, Helvetica, sans-serif;
    background-color: #F7FFF7;
}


h1, h2, p, li {
    font-family: 'Righteous';
}

#info {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #F7FFF7;
    margin: 0;
    box-shadow: 5px 5px 3px #D7CDCC;

}

#infoTexte {
    display: flex;
    flex-direction: column;
    margin: 5% 15% 5% 5%;
    text-align: justify;
    color: #246A73;
    font-size: 14pt;
}

#infoTexte p {
    text-indent: 10%;
    font-family: monospace;
}

#devPhoto {
    max-width: 500px;
    border-radius: 5%;
    box-shadow: 8px 8px 5px #D7CDCC;
}

#frontend {
    background-color: #246A73;
    display: flex;
    flex-direction: column;
    margin: 0;
}

#frontTitre {
    margin: 0% 15% 0% 5%;
    color: #F7FFF7;
}

#frontSkills {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.front {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.frontLogo {
    max-width: 100px;
}

.front p {
    color: #F7FFF7;
    font-size: 14pt;
}

#backend {
    background-color: #F7FFF7;
    display: flex;
    flex-direction: column;
    margin: 0;
}

#backTitre {
    margin: 0% 15% 0% 5%;
    color: #246A73;
}


#backSkills {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.back {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.back img {
    max-width: 100px;
    margin: 0;
}

.back p {
    color: #246A73;
    font-size: 14pt;
}

#jsCms {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    padding-bottom: 5px;
}

#javascript {
    display: flex;
    flex-direction: row;
    background-color: #246A73;
    padding-right: 50px;
    margin-right: 100px;
    height: 100%;
}

#jsTitre {
    margin-left: 15%;
    color: #F7FFF7;
}

#jsComp {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#jsListe {
    color: #F7FFF7;
    margin: 5% 0 8% 5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#jsListe li {
    margin-bottom: 10%;
    font-size: 14pt;
}

#jsLogo img {
    max-width: 200px;
    display: flex;
    align-items: center;
    margin: 15% 0;
}


 #cms {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: #246A73;
    padding-left: 50px;
    margin-left: 100px;
    height: 100%;
 }

 #cmsTitre {
    margin: 0% 15% 0% 5%;
    color: #F7FFF7;
 }
 
 #cmsComp {
    display: flex;
    flex-direction: row;
    align-items: center;
}

 #cmsListe {
    color: #F7FFF7;
    margin: 5% 0 8% 5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#cmsListe li {
    margin-bottom: 10%;
    font-size: 14pt;
}

#cmsLogo img {
    max-width: 100px;
    margin: 0;
}

#projets {
    background-color: #F7FFF7;
}

#projets h2 {
    color: #246A73;
    margin: 1% 15% 0 5%;
}

#projets a {
    text-decoration: none;
}

#projets p{
    color: #246A73;
    padding-left: 10px;
    font-size: 14pt;
}


#projet1 {
    margin: 5% 8%;
    display: flex;
    align-items: center;
}

.imageProjet {
    max-width: 150px;
}

